# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. 🙂

In [2]:
# Import here.
import pandas as pd
import numpy as np

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you’ll―of course―overcome them with what you learned in class! 😉

## Food Choices Data Set

### Load the Data

In [3]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [4]:
# Count by hand. (lol kidding)

print(f'Rows: {df_food.shape[0]}\nColumns: {df_food.shape[1]}')

Rows: 125
Columns: 61

What are the columns and their types in this data set?

In [5]:
# Show the column names and their types.

df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we’d like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. …and maybe gender.

Can you remove the other columns?

In [6]:
# Remove ‘em.

df_food_subset = df_food[['calories_day', 'weight', 'Gender']]

print('Index Column')
for index, column in enumerate(df_food_subset.columns):
    print(f'{index}\t  {column}')

Index Column
0	  calories_day
1	  weight
2	  Gender

What about `NaN`s? How many are there?

In [7]:
# Count ‘em.

num_nans = df_food_subset.isna().sum() # Add a second .sum() to get numerical total
print(num_nans)

calories_day    19
weight           2
Gender           0
dtype: int64

We gotta remove those `NaN`s―the entire row.

In [8]:
# Drop ‘em.

df_food_subset_cleaned = df_food_subset.dropna(axis=0, how='any')
df_food_subset_cleaned.head(10)

    calories_day                    weight  Gender
1            3.0                       155       1
2            4.0  I'm not answering this.        1
3            3.0             Not sure, 240       1
4            2.0                       190       1
5            3.0                       190       1
6            3.0                       180       2
7            3.0                       137       1
9            3.0                       125       1
10           3.0                       116       1
11           4.0                       110       1

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. 🤔

In [9]:
# Fix that.

df_food_subset_cleaned.loc[:, 'weight'] = pd.to_numeric(df_food_subset_cleaned.weight, errors='coerce')
df_food_subset_cleaned = df_food_subset_cleaned.dropna(axis=0, how='any')
df_food_subset_cleaned.head(10)

    calories_day weight  Gender
1            3.0  155.0       1
4            2.0  190.0       1
5            3.0  190.0       1
6            3.0  180.0       2
7            3.0  137.0       1
9            3.0  125.0       1
10           3.0  116.0       1
11           4.0  110.0       1
12           3.0  264.0       2
13           3.0  123.0       1

Now this data seems reasonably clean for our purposes! 😁

Let’s save it somewhere to be shipped off to another teammate. 💾

In [10]:
# Savey save!

output_file = 'data/cleaned_food_coded.csv'
df_food_subset_cleaned.to_csv(output_file, index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [11]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

manager_salary_survey_file_path = 'data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'
df_salaries = pd.read_csv(manager_salary_survey_file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'

Was that hard? 🙃

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [31]:
# Rename file

import os


old_file_name = 'Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'
new_file_name = 'manager_salary_responses_2021.csv'

os.rename('data/' + old_file_name, 'data/' + new_file_name)

### Explore

You know the drill.

How much data did you just load?

In [16]:
# Count by hand. I’m dead serious.
df_manager_salaries = pd.read_csv('data/manager_salary_responses_2021.csv', sep='\t')
print(f'Rows: {df_manager_salaries.shape[0]}\nColumns: {df_manager_salaries.shape[1]}')

Rows: 28062
Columns: 18

What are the columns and their types?

In [17]:
# Show the column names and their types.

df_manager_salaries.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh… Ugh! Give these columns easier names to work with first. 🙄

In [18]:
# Rename ‘em.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

import json

with open('data/manager_column_names.json', 'r') as file:
    column_mapping = json.load(file)
    df_manager_salaries.rename(columns=column_mapping, inplace=True)

print('Index Column Name')
for index, column in enumerate(df_manager_salaries.columns):
    print(f'{index}\t  {column}')

Index Column Name
0	  timestamp
1	  age
2	  industry
3	  title
4	  title_context
5	  salary
6	  additional_compensation
7	  currency
8	  other_currency
9	  income_context
10	  country
11	  us_state
12	  city
13	  total_yoe
14	  current_yoe
15	  highest_education_completed
16	  gender
17	  race

It’s a lot, and that should not have been easy. 😏

You’re going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [19]:
# List the unique industries and a count of their instances.

industry_counts = df_manager_salaries['industry'].value_counts()
print(industry_counts)

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you’re looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [22]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

def filter_data_by_column(column_name, filter_value):
    results = df_manager_salaries[column_name] == filter_value
    return df_manager_salaries[results]

df_salary_tech = filter_data_by_column('industry', 'Computing or Tech')

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [23]:
# Sanity Check 

df_salary_tech.head(10)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,income_context,country,us_state,city,total_yoe,current_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
53,4/27/2021 11:04:19,35-44,Computing or Tech,Managed Services Sales Coordinator,Primarily proposal writing,"72,000",3000.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,5-7 years,Master's degree,Woman,White
68,4/27/2021 11:04:36,25-34,Computing or Tech,Technical specialist,NaN,"34,000",2000.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,5-7 years,5-7 years,College degree,Woman,White
74,4/27/2021 11:04:41,35-44,Computing or Tech,Tech Writer,NaN,"88,000",NaN,USD,NaN,NaN,USA,Maryland,prefer not to answer,11 - 20 years,8 - 10 years,College degree,Woman,Another option not listed here or prefer not t...
79,4/27/2021 11:04:49,35-44,Computing or Tech,Senior Business Analyst,NaN,"125,000",NaN,USD,NaN,NaN,US,New York,New York,11 - 20 years,8 - 10 years,Master's degree,Woman,White

We are very interested in salary figures. But how many dollars 💵 is a euro 💶 or a pound 💷? That sounds like a problem for another day. 🫠

For now, let’s just look at U.S. dollars (`'USD'`).

In [32]:
# Filtery filter for just the jobs that pay in USD!

# Filter for rows where currency is 'USD'
df_currency_usd = df_salary_tech[df_salary_tech['currency'].str.upper().str.strip() == 'USD']

# Filter for rows where currency is 'Other' and other_currency is 'USD', 'US Dollars', or 'American Dollars'
df_other_currency_usd = df_salary_tech[
    (df_salary_tech['currency'].str.upper().str.strip() == 'OTHER') &
    (df_salary_tech['other_currency'].str.upper().str.strip().isin(['USD', 'US DOLLARS', 'AMERICAN DOLLARS']))
]

# Combine both filtered results
df_salary_tech_usd_filtered = pd.concat([df_currency_usd, df_other_currency_usd])

# Display the result
df_salary_tech_usd_filtered.head(50)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,income_context,country,us_state,city,total_yoe,current_yoe,highest_education_completed,gender,race
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
53,4/27/2021 11:04:19,35-44,Computing or Tech,Managed Services Sales Coordinator,Primarily proposal writing,"72,000",3000.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,5-7 years,Master's degree,Woman,White
68,4/27/2021 11:04:36,25-34,Computing or Tech,Technical specialist,NaN,"34,000",2000.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,5-7 years,5-7 years,College degree,Woman,White
74,4/27/2021 11:04:41,35-44,Computing or Tech,Tech Writer,NaN,"88,000",NaN,USD,NaN,NaN,USA,Maryland,prefer not to answer,11 - 20 years,8 - 10 years,College degree,Woman,Another option not listed here or prefer not t...
79,4/27/2021 11:04:49,35-44,Computing or Tech,Senior Business Analyst,NaN,"125,000",NaN,USD,NaN,NaN,US,New York,New York,11 - 20 years,8 - 10 years,Master's degree,Woman,White
95,4/27/2021 11:05:08,45-54,Computing or Tech,senior web application developer,NaN,"98,166",0.0,USD,NaN,NaN,United States,Indiana,Indianapolis,21 - 30 years,21 - 30 years,College degree,Man,White
99,4/27/2021 11:05:08,55-64,Computing or Tech,Chief Engineer,NaN,"87,000",8000.0,USD,NaN,NaN,USA,Ohio,Solon,31 - 40 years,31 - 40 years,Some college,Man,White
109,4/27/2021 11:05:21,25-34,Computing or Tech,Senior Financial Analyst,NaN,"107,220",16083.0,USD,NaN,NaN,US,Texas,Austin,8 - 10 years,5-7 years,Master's degree,Woman,Asian or Asian American
132,4/27/2021 11:05:46,35-44,Computing or Tech,Product Manager,NaN,"130,000",0.0,USD,NaN,NaN,United States,NaN,Philadelphia,11 - 20 years,11 - 20 years,College degree,Man,White
159,4/27/2021 11:06:05,25-34,Computing or Tech,Service Designer,User research,"130,000",NaN,USD,NaN,NaN,United States,Virginia,McLean,11 - 20 years,5-7 years,College degree,Woman,"Hispanic, Latino, or Spanish origin, White"
173,4/27/2021 11:06:13,45-54,Computing or Tech,Software Development Manager,NaN,"140,000",5000.0,USD,NaN,NaN,USA,Colorado,Denver,21 - 30 years,11 - 20 years,Some college,Woman,White
179,4/27/2021 11:06:17,35-44,Computing or Tech,technical support specialist,"I'm at a small start up, so I am a support age...","70,000",0.0,USD,NaN,NaN,USA,Texas,Austin,8 - 10 years,5-7 years,College degree,Woman,Black or African American
191,4/27/2021 11:06:27,25-34,Computing or Tech,Systems Analyst,NaN,"80,000",NaN,USD,NaN,NaN,United States of America,NaN,Portland,5-7 years,2 - 4 years,Master's degree,Woman,White
197,4/27/2021 11:06:35,35-44,Computing or Tech,Senior Technical Writer,NaN,"83,000",8000.0,USD,NaN,NaN,United States,California,San Diego,8 - 10 years,5-7 years,College degree,Woman,White
233,4/27/2021 11:07:08,45-54,Computing or Tech,Business Analyst,Procurement and contract management,"88,000",NaN,USD,NaN,NaN,USA,North Carolina,Raleigh,21 - 30 years,11 - 20 years,Master's degree,Woman,White
245,4/27/2021 11:07:14,35-44,Computing or Tech,Supply chain manager,"Manage a supply chain scope, but no direct rep...","125,000",50000.0,USD,NaN,Additional comp includes cash bonus goal and R...,United States,Washington,Seattle,11 - 20 years,11 - 20 years,College degree,Woman,White
260,4/27/2021 11:07:24,25-34,Computing or Tech,Visual Designer,NaN,"110,000",1400.0,USD,NaN,Additional monetary income is the total yearly...,United States,Illinois,Chicago (remote),5-7 years,5-7 years,College degree,Woman,White
270,4/27/2021 11:07:32,45-54,Computing or Tech,"IT Manager, Financial Systems",NaN,"124,000",0.0,USD,NaN,NaN,US,Tennessee,Remote,21 - 30 years,21 - 30 years,Master's degree,Woman,White
288,4/27/2021 11:07:44,45-54,Computing or Tech,Senior Manager of Customer Enablement,I run the team that teaches users how to use t...,"150,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,21 - 30 years,21 - 30 years,Master's degree,Woman,White
321,4/27/2021 11:08:11,35-44,Computing or Tech,Software Engineer,NaN,"156,000",189000.0,USD,NaN,"Salary, stock, bonus",United States,Massachusetts,Metro Boston,21 - 30 years,21 - 30 years,Master's degree,Other or prefer not to answer,Another option not listed here or prefer not t...
322,4/27/2021 11:08:11,45-54,Computing or Tech,Agile Coach,NaN,"130,000",13000.0,USD,NaN,NaN,United States,Minnesota,Twin cities metro area,11 - 20 years,8 - 10 years,College degree,Woman,White
325,4/27/2021 11:08:13,35-44,Computing or Tech,principle product marketing manager,I work in product marketing for a software com...,"126,000",15000.0,USD,NaN,NaN,USA,Texas,Dallas,11 - 20 years,11 - 20 years,College degree,Woman,White
353,4/27/2021 11:08:34,35-44,Computing or Tech,Senior user experience researcher,NaN,"179,000",130000.0,USD,NaN,Additional compensation is variable and includ...,USA,New York,New York city,11 - 20 years,8 - 10 years,PhD,Woman,White
356,4/27/2021 11:08:36,25-34,Computing or Tech,Salesforce Administrator,NaN,"64,200",3000.0,USD,NaN,NaN,United States,Wisconsin,Madison,5-7 years,2 - 4 years,Master's degree,Other or prefer not to answer,White
372,4/27/2021 11:08:57,35-44,Computing or Tech,Program Manager,I do both management and technical work,"157,000",0.0,USD,NaN,NaN,USA,Colorado,Denver,21 - 30 years,21 - 30 years,College degree,Woman,White
377,4/27/2021 11:09:01,35-44,Computing or Tech,Junior Project Manager,NaN,"86,000",3000.0,USD,NaN,NaN,United States,Colorado,Denver,8 - 10 years,8 - 10 years,College degree,Woman,White
378,4/27/2021 11:09:02,35-44,Computing or Tech,Business Analyst,NaN,"85,000",7000.0,USD,NaN,NaN,United States,Pennsylvania,Philadelphia,11 - 20 years,11 - 20 years,College degree,Woman,White
380,4/27/2021 11:09:03,45-54,Computing or Tech,Software Development Project Manager,Federal employee GS-13 step 6,"104,000",0.0,USD,NaN,NaN,USA,Louisiana,New Orleans,21 - 30 years,21 - 30 years,Master's degree,Woman,White
381,4/27/2021 11:09:05,45-54,Computing or Tech,Human Resources Manager,I manage Human Resources with the exception of...,"88,000",8800.0,USD,NaN,"Bonus is 10% of base salary based on MBO, EBIT...",United States,Minnesota,Minneapolis,8 - 10 years,8 - 10 years,College degree,Woman,White
383,4/27/2021 11:09:08,25-34,Computing or Tech,Programmer Analyst 2,NaN,"65,000",3000.0,USD,NaN,NaN,USA,Missouri,Jefferson City,8 - 10 years,8 - 10 years,College degree,Woman,White
384,4/27/2021 11:09:10,45-54,Computing or Tech,Sr development Manager,NaN,"175,000",175000.0,USD,NaN,NaN,US,Colorado,Denver,21 - 30 years,11 - 20 years,College degree,Man,White
389,4/27/2021 11:09:13,35-44,Computing or Tech,Software Engineer,NaN,"112,000",0.0,USD,NaN,NaN,US,Florida,Melbourne,11 - 20 years,8 - 10 years,College degree,Woman,White
412,4/27/2021 11:09:35,25-34,Computing or Tech,Technical Project Manager,"I also am a people manager, which is not neces...","131,000",14000.0,USD,NaN,NaN,United States,California,Bay Area,8 - 10 years,5-7 years,College degree,Woman,White
419,4/27/2021 11:09:41,25-34,Computing or Tech,Marketing Specialist,NaN,"70,000",NaN,USD,NaN,NaN,USA,Virginia,Richmond,8 - 10 years,5-7 years,College degree,Woman,White
431,4/27/2021 11:09:51,35-44,Computing or Tech,Sales,NaN,"65,000",35000.0,USD,NaN,NaN,United States,Illinois,"Springfield, IL",11 - 20 years,8 - 10 years,College degree,Woman,White
432,4/27/2021 11:09:53,45-54,Computing or Tech,Instructional designer,NaN,"80,000",NaN,USD,NaN,NaN,United States,North Carolina,Durham,21 - 30 years,2 - 4 years,College degree,Woman,White
435,4/27/2021 11:09:55,25-34,Computing or Tech,Proposal Manager,NaN,"180,000",20000.0,USD,NaN,NaN,US,North Carolina,Wilmington,8 - 10 years,8 - 10 years,College degree,Woman,White
436,4/27/2021 11:09:58,35-44,Computing or Tech,Business Architect,Supply Chain Planning,"157,029",31405.0,USD,NaN,NaN,US,California,San Jose,11 - 20 years,8 - 10 years,Master's degree,Woman,White
437,4/27/2021 11:09:58,35-44,Computing or Tech,Backend Elixir Engineer,software development,"120,000",NaN,USD,NaN,NaN,United States,Ohio,Columbus,11 - 20 years,2 - 4 years,Some college,Woman,White
449,4/27/2021 11:10:09,25-34,Computing or Tech,Customer Support Representative,NaN,"45,000",NaN,USD,NaN,NaN,USA,New Jersey,Somerset,2 - 4 years,2 - 4 years,College degree,Woman,Asian or Asian American
452,4/27/2021 11:10:09,25-34,Computing or Tech,Product Manager,Senior-level,"201,000",80000.0,USD,NaN,NaN,USA,Illinois,Chicago,8 - 10 years,5-7 years,Master's degree,Man,White
453,4/27/2021 11:10:10,35-44,Computing or Tech,Engineering Manager,NaN,"210,000",70000.0,USD,NaN,NaN,United States,NaN,New York City,11 - 20 years,11 - 20 years,Some college,Man,Asian or Asian American
454,4/27/2021 11:10:11,25-34,Computing or Tech,Customer Success Manager,NaN,"115,000",28000.0,USD,NaN,NaN,USA,Colorado,Denver,11 - 20 years,5-7 years,College degree,Woman,White
455,4/27/2021 11:10:12,25-34,Computing or Tech,Software Engineer,NaN,"80,000",3000.0,USD,NaN,NaN,USA,Minnesota,Minneapolis,1 year or less,1 year or less,Some college,Non-binary,White
459,4/27/2021 11:10:17,35-44,Computing or Tech,"Director, Corporate Communications",NaN,"170,000",34000.0,USD,NaN,"I also get additional spot bonuses, RSUs, etc....",United States,Massachusetts,Boston,21 - 30 years,11 - 20 years,College degree,Woman,White
507,4/27/2021 11:11:05,25-34,Computing or Tech,Content Development Manager,NaN,"71,400",13218.0,USD,NaN,The additional money is the total of my quarte...,U.S.,Ohio,Cincinnati,8 - 10 years,2 - 4 years,College degree,Woman,Black or African American

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [28]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

### Clean the Data

Well, we can’t get our answers with what we currently have, so you’ll have to make some changes.

Let’s not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value―say, `'US'`, which is nice and short.

In [ ]:
# Replace them all with 'US'.

Have a look at the count of each unique country again now.

In [ ]:
# Count again.

Did you notice anything interesting?

In [ ]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

In [ ]:

# BONUS CREDIT: if you’ve resolved it, let’s see how well you did by counting the number of instances of each unique value.

It’s looking good so far. Let’s find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [ ]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

Well, pooh! We forgot that `salary` isn’t numeric. Something wrong must be fixed.

In [ ]:
# Fix it.

Let’s try that again.

In [ ]:
# Try it again. Yeah!

That did the trick! Now let’s narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [ ]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you’ve now reached. What do you notice about Delaware and West Virginia?

Let’s back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum―say 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you―like say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* 😜)