# Fall 2024 Data Science Track: Week 2 - Data Cleaning Exercise

## Packages, Packages, Packages!

Import *all* the things here! You need the standard stuff: `pandas` and `numpy`.

If you got more stuff you want to use, add them here too. üôÇ

In [1]:
# Import here.

import pandas as pd

## Introduction

With the packages out of the way, now you will be working with the following data sets:

* `food_coded.csv`: [Food choices](https://www.kaggle.com/datasets/borapajo/food-choices?select=food_coded.csv) from Kaggle
* `Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv`: [Ask A Manager Salary Survey 2021 (Responses)](https://docs.google.com/spreadsheets/d/1IPS5dBSGtwYVbjsfbaMCYIWnOuRmJcbequohNxCyGVw/view?&gid=1625408792) as *Tab Separated Values (.tsv)* from Google Docs

Each one poses different challenges. But you‚Äôll‚Äïof course‚Äïovercome them with what you learned in class! üòâ

## Food Choices Data Set

### Load the Data

In [2]:
# Load the Food choices data set into a variable (e.g., df_food).

food_data_set_path = 'data/food_coded.csv'

df_food = pd.read_csv(food_data_set_path)

### Explore the Data

How much data did you just load?

In [3]:
# Count by hand. (lol kidding)

df_food.shape

(125, 61)

What are the columns and their types in this data set?

In [4]:
# Show the column names and their types.

df_food.dtypes

GPA                  object
Gender                int64
breakfast             int64
calories_chicken      int64
calories_day        float64
                     ...
type_sports          object
veggies_day           int64
vitamins              int64
waffle_calories       int64
weight               object
Length: 61, dtype: object

### Clean the Data

Perhaps we‚Äôd like to know more another day, but the team is really interested in just the relationship between calories (`calories_day`) and weight. ‚Ä¶and maybe gender.

Can you remove the other columns?

In [5]:
# Remove ‚Äòem.

subset_df = df_food[['Gender', 'calories_day', 'weight']]
subset_df.head()

   Gender  calories_day                    weight
0       2           NaN                       187
1       1           3.0                       155
2       1           4.0  I'm not answering this.
3       1           3.0             Not sure, 240
4       1           2.0                       190

What about `NaN`s? How many are there?

In [6]:
# Count ‚Äòem.

num_nans = subset_df.isna().sum() # Add a second .sum() to get numerical total
print(num_nans)

Gender           0
calories_day    19
weight           2
dtype: int64

We gotta remove those `NaN`s‚Äïthe entire row.

In [7]:
# Drop ‚Äòem.

cleaned_df = subset_df.dropna()

cleaned_df.head(25)

    Gender  calories_day                    weight
1        1           3.0                       155
2        1           4.0  I'm not answering this.
3        1           3.0             Not sure, 240
4        1           2.0                       190
5        1           3.0                       190
6        2           3.0                       180
7        1           3.0                       137
9        1           3.0                       125
10       1           3.0                       116
11       1           4.0                       110
12       2           3.0                       264
13       1           3.0                       123
14       2           3.0                       185
16       1           3.0                       145
17       2           3.0                       170
18       1           3.0                       135
19       2           2.0                       165
20       2           3.0                       175
21       2           3.0                       195
22       2           3.0                       185
23       2           3.0                       185
24       1           2.0                       105
25       1           3.0                       125
26       2           2.0                       160
27       2           4.0                       175

But what about the weird non-numeric values in the column obviously meant for numeric data?

Notice the data type of that column from when you got the types of all the columns?

If only we could convert the column to a numeric type and drop the rows with invalid values. ü§î

In [8]:
# Fix that.

cleaned_df.loc[:, 'weight'] = pd.to_numeric(cleaned_df['weight'], errors='coerce')
final_df = cleaned_df.dropna(subset=['weight'])

Now this data seems reasonably clean for our purposes! üòÅ

Let‚Äôs save it somewhere to be shipped off to another teammate. üíæ

In [10]:
# Savey save!

output_file = 'data/cleaned_food_choices.csv'
final_df.to_csv(output_file, index=False)

## Ask a Manager Salary Survey 2021 (Responses) Data Set

### Load the Data

In [24]:
# Load the Ask A Manager Salary Survey 2021 (Responses) data set into a variable (e.g., df_salary).

manager_salary_survey_file_path = 'data/Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'
df_salaries = pd.read_csv(manager_salary_survey_file_path)

ParserError: Error tokenizing data. C error: Expected 9 fields in line 1142, saw 12

Was that hard? üôÉ

#### rename the file to something that is better for all systems.  
* No spaces in filename (can use '_')
* all lower case

In [11]:
import os


old_file_name = 'Ask A Manager Salary Survey 2021 (Responses) - Form Responses 1.tsv'
new_file_name = 'manager_salary_responses_2021.csv'

os.rename('data/' + old_file_name, 'data/' + new_file_name)

### Explore

You know the drill.

How much data did you just load?

In [12]:
# Count by hand. I‚Äôm dead serious.

df_salary_responses = pd.read_csv('data/manager_salary_responses_2021.csv', sep='\t')

df_salary_responses.shape

(28062, 18)

What are the columns and their types?

In [13]:
# Show the column names and their types.

df_salary_responses.dtypes

Timestamp                                                                                                                                                                                                                                object
How old are you?                                                                                                                                                                                                                         object
What industry do you work in?                                                                                                                                                                                                            object
Job title                                                                                                                                                                                                                                object
If your job title needs additional context, please clarify here:                                                                                                                                                                         object
What is your annual salary? (You'll indicate the currency in a later question. If you are part-time or hourly, please enter an annualized equivalent -- what you would earn if you worked the job 40 hours a week, 52 weeks a year.)     object
How much additional monetary compensation do you get, if any (for example, bonuses or overtime in an average year)? Please only include monetary compensation here, not the value of benefits.                                          float64
Please indicate the currency                                                                                                                                                                                                             object
If "Other," please indicate the currency here:                                                                                                                                                                                           object
If your income needs additional context, please provide it here:                                                                                                                                                                         object
What country do you work in?                                                                                                                                                                                                             object
If you're in the U.S., what state do you work in?                                                                                                                                                                                        object
What city do you work in?                                                                                                                                                                                                                object
How many years of professional work experience do you have overall?                                                                                                                                                                      object
How many years of professional work experience do you have in your field?                                                                                                                                                                object
What is your highest level of education completed?                                                                                                                                                                                       object
What is your gender?                                                                                                                                                                                                                     object
What is your race? (Choose all that apply.)                                                                                                                                                                                              object
dtype: object

Oh‚Ä¶ Ugh! Give these columns easier names to work with first. üôÑ

In [14]:
# Rename ‚Äòem.
# Non-binding suggestions: timestamp, age, industry, title, title_context, salary, additional_compensation, currency, other_currency, salary_context, country, state, city, total_yoe, field_yoe, highest_education_completed	gender, race

import json


with open('data/manager_column_names.json', 'r') as file:
    column_mapping = json.load(file)
    

df_salary_responses.rename(columns=column_mapping, inplace=True)
df_salary_responses.columns

Index(['timestamp', 'age', 'industry', 'title', 'title_context', 'salary',
       'additional_compensation', 'currency', 'other_currency',
       'income_context', 'country', 'us_state', 'city', 'total_yoe',
       'current_yoe', 'highest_education_completed', 'gender', 'race'],
      dtype='object')

It‚Äôs a lot, and that should not have been easy. üòè

You‚Äôre going to have a gander at the computing/tech subset first because thats *your* industry. But first, what value corresponds to that `industry`?

In [15]:
# List the unique industries and a count of their instances.

industry_counts = df_salary_responses['industry'].value_counts()
print(industry_counts)

industry
Computing or Tech                        4699
Education (Higher Education)             2464
Nonprofits                               2419
Health care                              1896
Government and Public Administration     1889
                                         ...
Warehousing                                 1
Education (Early Childhood Education)       1
SAAS                                        1
Health and Safety                           1
Aerospace Manufacturing                     1
Name: count, Length: 1219, dtype: int64

That value among the top 5 is what you‚Äôre looking for innit? Filter out all the rows not in that industry and save it into a new dataframe.

In [16]:
# Filtery filter. (Save it to a new variable, df_salary_tech.)

def filter_data(column_name, filter_value):
    results = df_salary_responses[column_name] == filter_value
    return df_salary_responses[results]

df_salary_tech = filter_data('industry', 'Computing or Tech')

Do a sanity check to make sure that the only values you kept are the one you are filtered for.

In [17]:
# Sanity Check 

df_salary_tech.head(10)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,income_context,country,us_state,city,total_yoe,current_yoe,highest_education_completed,gender,race
1,4/27/2021 11:02:22,25-34,Computing or Tech,Change & Internal Communications Manager,NaN,"54,600",4000.0,GBP,NaN,NaN,United Kingdom,NaN,Cambridge,8 - 10 years,5-7 years,College degree,Non-binary,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
43,4/27/2021 11:04:04,25-34,Computing or Tech,Principal Software Engineer,NaN,"187,500",5000.0,USD,NaN,NaN,United States,Pennsylvania,Pittsburgh,8 - 10 years,5-7 years,College degree,Woman,White
44,4/27/2021 11:04:04,25-34,Computing or Tech,Intelligence Analyst,NaN,"110,000",20000.0,USD,NaN,"Around 20,000 a year in stock",USA,Virginia,"Arlington, VA",8 - 10 years,8 - 10 years,Master's degree,Man,White
46,4/27/2021 11:04:07,35-44,Computing or Tech,Mobile developer,NaN,"144,600",2500.0,USD,NaN,NaN,USA,Massachusetts,Boston,5-7 years,5-7 years,PhD,Woman,White
47,4/27/2021 11:04:09,35-44,Computing or Tech,Product Design Director,NaN,"200,850",40000.0,USD,NaN,NaN,USA,North Carolina,Chapel Hill,11 - 20 years,11 - 20 years,College degree,Woman,White
53,4/27/2021 11:04:19,35-44,Computing or Tech,Managed Services Sales Coordinator,Primarily proposal writing,"72,000",3000.0,USD,NaN,NaN,United States,Michigan,Troy,11 - 20 years,5-7 years,Master's degree,Woman,White
68,4/27/2021 11:04:36,25-34,Computing or Tech,Technical specialist,NaN,"34,000",2000.0,USD,NaN,NaN,United States,Minnesota,Minneapolis,5-7 years,5-7 years,College degree,Woman,White
74,4/27/2021 11:04:41,35-44,Computing or Tech,Tech Writer,NaN,"88,000",NaN,USD,NaN,NaN,USA,Maryland,prefer not to answer,11 - 20 years,8 - 10 years,College degree,Woman,Another option not listed here or prefer not t...
79,4/27/2021 11:04:49,35-44,Computing or Tech,Senior Business Analyst,NaN,"125,000",NaN,USD,NaN,NaN,US,New York,New York,11 - 20 years,8 - 10 years,Master's degree,Woman,White

We are very interested in salary figures. But how many dollars üíµ is a euro üí∂ or a pound üí∑? That sounds like a problem for another day. ü´†

For now, let‚Äôs just look at U.S. dollars (`'USD'`).

In [18]:
# Filtery filter for just the jobs that pay in USD!

df_salary_tech = filter_data('currency', 'USD')
df_salary_tech.head(10)

,timestamp,age,industry,title,title_context,salary,additional_compensation,currency,other_currency,income_context,country,us_state,city,total_yoe,current_yoe,highest_education_completed,gender,race
0,4/27/2021 11:02:10,25-34,Education (Higher Education),Research and Instruction Librarian,NaN,"55,000",0.0,USD,NaN,NaN,United States,Massachusetts,Boston,5-7 years,5-7 years,Master's degree,Woman,White
2,4/27/2021 11:02:38,25-34,"Accounting, Banking & Finance",Marketing Specialist,NaN,"34,000",NaN,USD,NaN,NaN,US,Tennessee,Chattanooga,2 - 4 years,2 - 4 years,College degree,Woman,White
3,4/27/2021 11:02:41,25-34,Nonprofits,Program Manager,NaN,"62,000",3000.0,USD,NaN,NaN,USA,Wisconsin,Milwaukee,8 - 10 years,5-7 years,College degree,Woman,White
4,4/27/2021 11:02:42,25-34,"Accounting, Banking & Finance",Accounting Manager,NaN,"60,000",7000.0,USD,NaN,NaN,US,South Carolina,Greenville,8 - 10 years,5-7 years,College degree,Woman,White
5,4/27/2021 11:02:46,25-34,Education (Higher Education),Scholarly Publishing Librarian,NaN,"62,000",NaN,USD,NaN,NaN,USA,New Hampshire,Hanover,8 - 10 years,2 - 4 years,Master's degree,Man,White
6,4/27/2021 11:02:51,25-34,Publishing,Publishing Assistant,NaN,"33,000",2000.0,USD,NaN,NaN,USA,South Carolina,Columbia,2 - 4 years,2 - 4 years,College degree,Woman,White
7,4/27/2021 11:03:00,25-34,Education (Primary/Secondary),Librarian,"High school, FT","50,000",NaN,USD,NaN,NaN,United States,Arizona,Yuma,5-7 years,5-7 years,Master's degree,Man,White
8,4/27/2021 11:03:01,45-54,Computing or Tech,Systems Analyst,Data developer/ETL Developer,"112,000",10000.0,USD,NaN,NaN,US,Missouri,St. Louis,21 - 30 years,21 - 30 years,College degree,Woman,White
9,4/27/2021 11:03:02,35-44,"Accounting, Banking & Finance",Senior Accountant,NaN,"45,000",0.0,USD,NaN,I work for a Charter School,United States,Florida,Palm Coast,21 - 30 years,21 - 30 years,College degree,Woman,"Hispanic, Latino, or Spanish origin, White"
10,4/27/2021 11:03:03,25-34,Nonprofits,Office Manager,NaN,"47,500",0.0,USD,NaN,NaN,United States,NaN,"Boston, MA",5-7 years,5-7 years,College degree,Woman,White

What we really want know is how each U.S. city pays in tech. What value in `country` represents the United States of America?

In [20]:
# We did filter for USD, so if we do a count of each unique country in descending count order, the relevant value(s) should show up at the top.

country_counts = df_salary_tech['country'].value_counts()
print(country_counts)

country
United States     8989
USA               7922
US                2606
United States      667
U.S.               580
                  ...
Saudi Arabia         1
LOUTRELAND           1
philippines          1
Myanmar              1
Burma                1
Name: count, Length: 229, dtype: int64

### Clean the Data

Well, we can‚Äôt get our answers with what we currently have, so you‚Äôll have to make some changes.

Let‚Äôs not worry about anything below the first 5 values for now. Convert the top 5 to a single canonical value‚Äïsay, `'US'`, which is nice and short.

In [21]:
# Replace them all with 'US'.

# For this question I thought there would be an easier, more programmatically sound method to accomplish the goal 
# After some Google searching, I came across RapidFuzz: https://pypi.org/project/rapidfuzz/
# I've added comments to explain the process

from rapidfuzz import process


# Step 1: Define variations of "US"
us_variations = ['united states', 'united states of america', 'usa', 'us', 'u.s', 'u.s.', 'america']

# Function to map similar country names to "US"
def map_to_us(country):
    # Lowercase the country for matching purposes
    result = process.extractOne(country.lower(), us_variations)
    if result:
        match, score = result[0], result[1]
        # If the match score is high enough, normalize it to "US"
        if score >= 80:
            return 'US'
    # If not a US variation, return the original country name
    return country

# Step 2: Apply the function to normalize only "US" variations directly to the 'country' column
df_salary_tech.loc[:, 'country'] = df_salary_tech['country'].apply(map_to_us)

Have a look at the count of each unique country again now.

In [22]:
# Count again.

country_counts = df_salary_tech['country'].value_counts()
print(country_counts)

country
US              23164
Canada             16
Israel              7
Japan               6
Denmark             6
                ...
Saudi Arabia        1
LOUTRELAND          1
philippines         1
Myanmar             1
Burma               1
Name: count, Length: 119, dtype: int64

Did you notice anything interesting?

In [24]:
# BONUS CREDIT: resolve [most of] those anomalous cases too without exhaustively taking every variant literally into account.

print(f'I believe I\'ve already met this requirement with my previous answer')

I believe I've already met this requirement with my previous answer

In [25]:

# BONUS CREDIT: if you‚Äôve resolved it, let‚Äôs see how well you did by counting the number of instances of each unique value.

country_counts = df_salary_tech['country'].value_counts()
print(country_counts)

country
US              23164
Canada             16
Israel              7
Japan               6
Denmark             6
                ...
Saudi Arabia        1
LOUTRELAND          1
philippines         1
Myanmar             1
Burma               1
Name: count, Length: 119, dtype: int64

It‚Äôs looking good so far. Let‚Äôs find out the minimum, mean, and maximum (in that order) salary by state, sorted by the mean in descending order.

In [33]:
# Find the minimum, mean, and maximum salary in USD by U.S. state.

df_salary_usd = df_salary_tech[df_salary_tech['currency'] == 'USD']
salary_stats_by_state = df_salary_usd.groupby('us_state')['salary'].agg(['min', 'mean', 'max']).reset_index()
salary_stats_by_state.columns = ['State', 'Min Salary', 'Mean Salary', 'Max Salary']

# Display the result
print(salary_stats_by_state)

TypeError: agg function failed [how->mean,dtype->object]

Well, pooh! We forgot that `salary` isn‚Äôt numeric. Something wrong must be fixed.

In [59]:
# Fix it.

def clean_and_calculate_salary_stats(df, currency='USD'):
    df_cleaned = df.copy()
    df_cleaned['salary'] = df_cleaned['salary'].replace({r'\$': '', ',': ''}, regex=True)
    df_cleaned['salary'] = pd.to_numeric(df['salary'], errors='coerce')

    df_cleaned = df_cleaned[df_cleaned['currency'] == currency]
    cleaned_salary_stats_by_state = df_cleaned.groupby('us_state')['salary'].agg(['min', 'mean', 'max']).reset_index()
    cleaned_salary_stats_by_state.columns = ['State', 'Min Salary', 'Mean Salary', 'Max Salary']
    cleaned_salary_stats_by_state = cleaned_salary_stats_by_state.sort_values(by='Mean Salary', ascending=False)
    
    return cleaned_salary_stats_by_state


salary_states = clean_and_calculate_salary_stats(df_salary_tech)
print(salary_states)

                                                State  Min Salary  \
8                             Alabama, South Carolina     5000000
88                        Michigan, Texas, Washington      340000
65                                      Indiana, Ohio      245000
9                                              Alaska       27040
38                                   Colorado, Nevada      190000
..                                                ...         ...
47                   District of Columbia, Washington       35000
2                                 Alabama, California       29120
44  District of Columbia, Maryland, Pennsylvania, ...       27040
78                                 Maryland, New York       14000
1                            Alabama, Alaska, Arizona          15

     Mean Salary  Max Salary
8   5.000000e+06     5000000
88  3.400000e+05      340000
65  2.450000e+05      245000
9   2.322751e+05    10000000
38  1.900000e+05      190000
..           ...         ...
47  3.500000e+04       35000
2   2.912000e+04       29120
44  2.704000e+04       27040
78  1.400000e+04       14000
1   1.500000e+01          15

[133 rows x 4 columns]

Let‚Äôs try that again.

In [39]:
# Try it again. Yeah!

print(f'Try what again?')

??? Try what again?

That did the trick! Now let‚Äôs narrow this to data 2021 and 2022 just because (lel). *(Hint: that timestamp column may not be a temporal type right now.)*

In [47]:
# Filter the data to within 2021, 2022, or 2023, saving the DataFrame to a new variable, and generate the summary again.

df_salary_filtered = df_salary_tech.copy()
df_salary_filtered['timestamp'] = pd.to_datetime(df_salary_filtered['timestamp'], errors='coerce')

df_salary_filtered = df_salary_tech[(df_salary_filtered['timestamp'].dt.year >= 2021) & 
                                    (df_salary_filtered['timestamp'].dt.year <= 2023)]

salary_stats = clean_and_calculate_salary_stats(df_salary_filtered)
print(salary_stats)

                             State  Min Salary    Mean Salary  Max Salary
0                          Alabama           0   70397.612069      350000
1              Alabama, California       29120   29120.000000       29120
2    Alabama, District of Columbia      156000  156000.000000      156000
3                  Alabama, Kansas       64197   64197.000000       64197
4       Alabama, Minnesota, Nevada      130000  130000.000000      130000
..                             ...         ...            ...         ...
126                       Virginia          57   94685.349045     1300000
127                     Washington          72  107835.965313     1260000
128                  West Virginia           0   58664.170732      125000
129                      Wisconsin           1   76351.454158      920000
130                        Wyoming       29000   58089.291667      140000

[131 rows x 4 columns]

## Bonus

Clearly, we do not have enough data to produce useful figures for the level of specificity you‚Äôve now reached. What do you notice about Delaware and West Virginia?

Let‚Äôs back out a bit and return to `df_salary` (which was the loaded data with renamed columns but *sans* filtering).

### Bonus #0

Apply the same steps as before to `df_salary`, but do not filter for any specific industry. Do perform the other data cleaning stuff, and get to a point where you can generate the minimum, mean, and maximum by state.

In [58]:
# Filter for USD currency
df_salary_responses_cleaned = filter_data('currency', 'USD')

# Map all US related instances to US
df_salary_responses_cleaned.loc[:, 'country'] = df_salary_responses_cleaned['country'].apply(map_to_us)

salary_states = clean_and_calculate_salary_stats(df_salary_responses_cleaned)
print(salary_states)

                             State  Min Salary   Mean Salary  Max Salary
0                          Alabama         0.0  65524.911111    350000.0
1         Alabama, Alaska, Arizona        15.0     15.000000        15.0
2              Alabama, California     29120.0  29120.000000     29120.0
3    Alabama, District of Columbia         NaN           NaN         NaN
4                  Alabama, Kansas         NaN           NaN         NaN
..                             ...         ...           ...         ...
128                       Virginia        57.0  96247.442922   1300000.0
129                     Washington        72.0  98032.896552    300000.0
130                  West Virginia         0.0  52754.375000    120000.0
131                      Wisconsin         1.0  83000.628788    920000.0
132                        Wyoming     42500.0  59906.333333     98000.0

[133 rows x 4 columns]

### Bonus #1

This time, format the table output nicely (*$12,345.00*) without modifying the values in the `DataFrame`. That is, `df_salary` should be identical before versus after running your code.

(*Hint: if you run into an error about `jinja2` perhaps you need to `pip install` something.*)

In [65]:
def format_column(df, column_name):
    formatted_df = df.copy()
    formatted_df[column_name] = df[column_name].apply(lambda x: f"${x:,.2f}")
    return formatted_df

formatted_table = salary_states.copy()
formatted_salary_states = format_column(salary_states, 'Min Salary')
formatted_salary_states = format_column(formatted_salary_states, 'Mean Salary')
formatted_salary_states = format_column(formatted_salary_states, 'Max Salary')

print(formatted_salary_states)

                                                State     Min Salary  \
8                             Alabama, South Carolina  $5,000,000.00
88                        Michigan, Texas, Washington    $340,000.00
65                                      Indiana, Ohio    $245,000.00
9                                              Alaska     $27,040.00
38                                   Colorado, Nevada    $190,000.00
..                                                ...            ...
47                   District of Columbia, Washington     $35,000.00
2                                 Alabama, California     $29,120.00
44  District of Columbia, Maryland, Pennsylvania, ...     $27,040.00
78                                 Maryland, New York     $14,000.00
1                            Alabama, Alaska, Arizona         $15.00

      Mean Salary      Max Salary
8   $5,000,000.00   $5,000,000.00
88    $340,000.00     $340,000.00
65    $245,000.00     $245,000.00
9     $232,275.08  $10,000,000.00
38    $190,000.00     $190,000.00
..            ...             ...
47     $35,000.00      $35,000.00
2      $29,120.00      $29,120.00
44     $27,040.00      $27,040.00
78     $14,000.00      $14,000.00
1          $15.00          $15.00

[133 rows x 4 columns]

### Bonus #2

Filter out the non-single-states (e.g., `'California, Colorado'`) in the most elegant way possible (i.e., *not* by blacklisting all the bad values).

In [68]:
def split_multiple_states(df):
    df_split = df.copy()
    
    # Split multiple states in 'us_state' column and explode to individual rows
    df_split['State'] = df_split['State'].str.split(',')
    df_split = df_split.explode('State')

    # Remove leading/trailing whitespaces from state names
    df_split['State'] = df_split['State'].str.strip()
    
    return df_split

# Now, split multiple states in the result DataFrame
salary_states_split = split_multiple_states(salary_states)

# Apply the formatting function to each column that needs formatting
formatted_salary_states = format_column(salary_states_split, 'Min Salary')
formatted_salary_states = format_column(formatted_salary_states, 'Mean Salary')
formatted_salary_states = format_column(formatted_salary_states, 'Max Salary')

# Print the formatted table
print(formatted_salary_states)

             State     Min Salary    Mean Salary     Max Salary
8          Alabama  $5,000,000.00  $5,000,000.00  $5,000,000.00
8   South Carolina  $5,000,000.00  $5,000,000.00  $5,000,000.00
88        Michigan    $340,000.00    $340,000.00    $340,000.00
88           Texas    $340,000.00    $340,000.00    $340,000.00
88      Washington    $340,000.00    $340,000.00    $340,000.00
..             ...            ...            ...            ...
78        Maryland     $14,000.00     $14,000.00     $14,000.00
78        New York     $14,000.00     $14,000.00     $14,000.00
1          Alabama         $15.00         $15.00         $15.00
1           Alaska         $15.00         $15.00         $15.00
1          Arizona         $15.00         $15.00         $15.00

[256 rows x 4 columns]

### Bonus #3

Show the quantiles instead of just minimum, mean, and maximum‚Äïsay 0%, 5%, 25%, 50%, 75%, 95%, and 100%. Outliers may be deceiving.

Sort by whatever interests you‚Äïlike say the *50th* percentile.

And throw in a count by state too. It would be interesting to know how many data points contribute to the figures for each state. (*Hint: your nice formatting from Bonus #1 might not work this time around.* üòú)

In [70]:
def calculate_quantile_stats(df, currency='USD'):
    df_cleaned = df.copy()
    df_cleaned['salary'] = df_cleaned['salary'].replace({r'\$': '', ',': ''}, regex=True)
    df_cleaned['salary'] = pd.to_numeric(df['salary'], errors='coerce')

    # Filter by currency
    df_cleaned = df_cleaned[df_cleaned['currency'] == currency]

    # Group by state and calculate quantiles and count
    quantile_stats_by_state = df_cleaned.groupby('us_state')['salary'].agg([
        ('Count', 'count'),
        ('0%', lambda x: x.quantile(0)),
        ('5%', lambda x: x.quantile(0.05)),
        ('25%', lambda x: x.quantile(0.25)),
        ('50%', lambda x: x.quantile(0.50)),
        ('75%', lambda x: x.quantile(0.75)),
        ('95%', lambda x: x.quantile(0.95)),
        ('100%', lambda x: x.quantile(1))
    ]).reset_index()

    # Sort by '50%' (median) in descending order
    quantile_stats_by_state = quantile_stats_by_state.sort_values(by='50%', ascending=False)
    
    return quantile_stats_by_state


def split_quantile_states(df):
    df_split = df.copy()

    # Split multiple states in 'us_state' column and explode to individual rows
    df_split['us_state'] = df_split['us_state'].str.split(',')
    df_split = df_split.explode('us_state')

    # Remove leading/trailing whitespaces from state names
    df_split['us_state'] = df_split['us_state'].str.strip()

    return df_split

def format_quantile_columns(df):
    formatted_df = df.style.format({
        'Count': '{:,.0f}',  # No decimals for Count
        '0%': '${:,.2f}',    # Min (0%) salary
        '5%': '${:,.2f}',    # 5th percentile salary
        '25%': '${:,.2f}',   # 25th percentile salary
        '50%': '${:,.2f}',   # Median (50%) salary
        '75%': '${:,.2f}',   # 75th percentile salary
        '95%': '${:,.2f}',   # 95th percentile salary
        '100%': '${:,.2f}'   # Max (100%) salary
    })
    
    return formatted_df


# Calculate quantile stats using the new function
quantile_salary_states = calculate_quantile_stats(df_salary_responses_cleaned)

# Now, split multiple states in the result DataFrame using the new split function
quantile_salary_states_split = split_quantile_states(quantile_salary_states)

# Apply the nice formatting
formatted_quantile_salary_states = format_quantile_columns(quantile_salary_states_split)

# Display the formatted table (in a Jupyter notebook, this will render nicely)
formatted_quantile_salary_states